{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Edit Classroom{% endblock %}

{% block body %}
<div class="container col-md-6 mt-3 text-center">
    <h1>Edit Classroom</h1>
    {{form (form)}}
    <a class="btn btn-success"href="{{ path('classroom_index') }}">Back to list</a>
</div>
   
{% endblock %}
